

.estilo1{
font-famil: arial; 
background: #6633FF
}

.estilo2{
font-famil: calibri;
background: #6666c
}

.estilo3{
font-famil: calibri;
background: #6666cc
}

.estilo4{ 
font-famil: calibri;
background: #6666cc
}